.hero {
  background-size: cover;
  background-position: center center;
  background-image: url('../../Components/Assets/background3.jpg');
 /*  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%); */
  display: flex;
  padding: 30px;
  padding-top: 60px;
  margin-bottom: 70px;
  animation: kenBurnsEffectMedium 30s linear infinite;
  
}
.hero-outer{
  overflow: hidden;
}
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}
.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  align-items: end;
  gap: 10px;

}

.hero-left p {
  font-size: 70px;
  color: #171717;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-hand-icon img {
  width: 70px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #E86AFE; /* Original background color */
  color: white;
  font-size: 22px;
  font-weight: 500;
  border:none; /* Initial border color */
  transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

/* Hover effect */
.hero-latest-btn:hover {
  font-weight: 600;
  color: white; /* Keep text color white */
  border: 2px solid white; /* Border with specified color and width */
  transform: scale(1.05); /* Slightly increase the button size for scaling effect */
  transition: transform 0.3s ease, border-color 0.3s ease; /* Smooth transition for scaling and border color change */
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-right img {
  width: 800px;
}

.hero-new-icon{
  width: 90px;
}

@media(max-width: 1280px) {

  .hero {
    animation: kenBurnsEffectMedium 30s linear infinite;
}
  .hero-left{
    padding-left: 100px;

  }
  .hero-left h2{
    font-size: 22px;
  }
  .hero-left p{
    font-size: 60px;

  }
  .hero-hand-icon img{
    width: 80px;
  }
  .hero-latest-btn{
    gap:10px;
    width: 250px;
    height: 60px;
    font-size: 18px;
  }
  .hero-right img{
    width: 600px;
  }
  .hero-new-icon{
    width: 70px;
  }
}

@media(max-width: 1024px) {

  .hero{
    animation: kenBurnsEffectMedium 30s linear infinite;
  }
  .hero-left{
    padding-left: 80px;

  }
  .hero-left h2{
    font-size: 20px;
  }
  .hero-left p{
    font-size: 50px;

  }
  .hero-hand-icon img{
    width: 65px;
  }
  .hero-latest-btn{
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
  .hero-right img{
    width: 450px;
  }
  .hero-new-icon{
    width: 60px;
  }
}

@media(max-width: 800px) {

  .hero{
    animation: kenBurnsEffectMedium 30s linear infinite;
  }
 
  .hero-left{
    padding-left: 30px;

  }
  .hero-left h2{
    font-size: 16px;
  }
  .hero-left p{
    font-size: 40px;

  }
  .hero-hand-icon img{
    width: 50px;
  }
  .hero-latest-btn{
    width: 175px;
    height: 40px;
    font-size: 13px;
  }
  .hero-right img{
    width: 380px;
  }
  .hero-new-icon{
    width: 50px;
  }
}

@media(max-width: 500px) {
  .hero{
    animation: none;
  }
  .hero-right{
    display: none;
  }
  .hero-left h2{
    font-size:18px;

  }
  .hero-left p{
    font-size: 50px;
  }
  .hero-hand-icon img{
    width:55px;

  }
  .hero-latest-btn{
    width: 200px;
    height: 45px;
    font-size: 14px;
  }

  
  
}


@keyframes kenBurnsEffectMedium {
  0% {
      background-size: 105%; /* Start with a slightly zoomed-in image */
      background-position: top left;
  }
  100% {
      background-size: 120%; /* Zoom in further */
      background-position: bottom right;
  }
}

@keyframes kenBurnsEffectSmall {
  0% {
    background-size: 105%; /* Start with a slight zoom */
    background-position: center center; /* Start position at the center */
}
100% {
    background-size: 110%; /* Slightly zoom in further */
    background-position: top left; /* Move the image slightly to the top left */
}
}


